body {
  font-family: 'Roboto Condensed', sans-serif;
}

.hide {
  display: none !important;
}

.title {
  margin-top: 100px;
  font-size: 60px;
  font-weight: 700;
  padding-left: 20px;
  position: relative;
}
@media screen and (max-device-width: 640px) {
  .title {
    font-size: 35px;
  }
}
.title::before {
  display: block;
  content: '';
  position: absolute;
  height: 4px;
  width: 150px;
  border-radius: 2px;
  background: white;
  top: -10px;
  left: 20px;
}

.hero {
  background: url("../img/hero_back.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}
.hero .menu-button {
  position: absolute;
  z-index: 10;
  top: 40px;
  right: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.hero .menu-button img {
  max-height: 60px;
}
.hero .container-logo {
  padding-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .container-logo .form-button {
  margin-top: 70px;
  background: red;
  color: white;
  font-size: 30px;
  border-radius: 7px;
  font-weight: 700;
  padding: 8px 18px;
  letter-spacing: 1px;
  cursor: pointer;
  border: 1px solid red;
  transition: all .5s;
}
.hero .container-logo .form-button:hover {
  background: white;
  color: red;
  transition: all .5s;
}
.hero .menu-wrapper {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.hero .menu-wrapper .menu-close {
  top: 40px;
  right: 50px;
  position: absolute;
  color: white;
  cursor: pointer;
  font-size: 50px;
}
.hero .menu-wrapper ul {
  list-style: none;
  padding-left: 20%;
}
.hero .menu-wrapper ul li {
  margin-bottom: 22px;
}
.hero .menu-wrapper ul a {
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}
.hero .menu-wrapper ul a::before {
  display: block;
  position: absolute;
  content: '';
  height: 2px;
  width: 0px;
  left: -50px;
  top: 50%;
  background: transparent;
  transition: all .5s linear;
}
.hero .menu-wrapper ul a::after {
  display: block;
  position: absolute;
  content: '';
  height: 2px;
  width: 0px;
  right: -50px;
  top: 50%;
  background: transparent;
  transition: all .5s linear;
}
.hero .menu-wrapper ul a:hover {
  text-decoration: none;
}
.hero .menu-wrapper ul a:hover::before {
  display: block;
  position: absolute;
  content: '';
  height: 2px;
  width: 40px;
  left: -50px;
  top: 50%;
  background: red;
  transition: all .5s linear;
}
.hero .menu-wrapper ul a:hover::after {
  display: block;
  position: absolute;
  content: '';
  height: 2px;
  width: 40px;
  right: -50px;
  top: 50%;
  background: red;
  transition: all .5s linear;
}

.about {
  background: url("../img/hero_about.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.about .title {
  color: red;
}
.about .title::before {
  background: red;
}

.slider-wrap {
  background: white;
  color: #000000;
  padding: 30px 15px;
  margin-bottom: 40px;
}
.slider-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.slider-header h3 {
  margin-left: 25px;
  font-weight: 700;
  position: relative;
}
.slider-header h3::before {
  display: block;
  content: '';
  position: absolute;
  height: 2px;
  width: 40px;
  background: red;
  top: 0px;
  left: 0;
}
.slider-header img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.slider-content {
  padding-top: 15px;
}

.what-work {
  background: url("../img/what-work.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding-bottom: 400px;
}
.what-work h2 {
  margin-bottom: 45px;
  color: red;
}
.what-work h2::before {
  background: red;
}
.what-work .work-item {
  margin-bottom: 20px;
}
.what-work .work-wrap {
  background: black;
  color: white;
  outline-style: solid;
  outline-color: white;
  outline-width: 3px;
  border-top: 12px solid red;
  text-align: center;
  padding-bottom: 10px;
}
.what-work .work-wrap h3 {
  font-weight: 700;
  height: 56px;
  margin-bottom: 30px;
  padding: 0 15px;
}
.what-work .work-wrap h4 {
  margin-top: 10px;
  margin-bottom: 40px;
}
.what-work .work-form {
  font-size: 1.75rem;
  color: red;
  cursor: pointer;
}

.schema {
  padding-bottom: 50px;
}
.schema .title {
  color: black;
  margin-bottom: 35px;
}
.schema .title::before {
  background: black;
}
.schema .col-md-3 {
  text-align: center;
}

.garanty {
  padding-bottom: 50px;
  background: url("../img/garanty_hero.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
}
.garanty .title {
  color: red;
  margin-bottom: 35px;
}
.garanty .title::before {
  background: red;
}
.garanty h4 {
  text-align: center;
}
.garanty .col-md-4 {
  text-align: center;
}

.testimonials .title::before {
  background: black;
}

.footer {
  background: #2b2b2b;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer ul li {
  margin-top: 15px;
}
.footer ul a {
  color: white;
  font-size: 20px;
  letter-spacing: .5px;
  font-weight: 600;
}
.footer ul a:hover {
  text-decoration: none;
  color: red;
}

.form-hero {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 30;
}
.form-hero .form-close {
  top: 5px;
  right: 50px;
  position: absolute;
  color: white;
  cursor: pointer;
  font-size: 50px;
  z-index: 50;
}
.form-hero > .container > .row > .col {
  display: flex;
  justify-content: center;
}
.form-hero .hero-wrap {
  margin-top: 50px;
  width: 250px;
  height: 500px;
  background: url("../img/phone-wrap.png");
  background-size: contain;
  padding: 40px 15px;
}
.form-hero .hero-wrap form {
  height: 100%;
  width: 100%;
  background: #000000;
  padding-top: 19px;
}
.form-hero .hero-wrap form input::placeholder {
  color: black;
  opacity: 1;
}
.form-hero .hero-wrap form .date-input {
  position: relative;
}
.form-hero .hero-wrap form .wrap-date {
  position: absolute;
  right: 10px;
  top: 7px;
  z-index: 100;
}
.form-hero .hero-wrap form label {
  color: white;
}
.form-hero .hero-wrap form button {
  background: red;
  color: white;
  border: none;
}
